<div class="row pb-3">
  <div class="col-sm-6  offset-sm-3">
    <%= form_with(model: user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-group">
        <%= f.label :name, 'Name' %><span class="text-danger ml-1">(required)</span>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :email, 'Email' %><span class="text-danger ml-1">(required)</span>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <% if request.path_info = signup_url %>
        <div class="form-group">
          <%= f.label :password, 'Password' %><span class="text-danger ml-1">(required)</span>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :password_confirmation, 'Confirmation' %><span class="text-danger ml-1">(required)</span>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      <% end %>
      
      <div class="form-group">
        <%= f.label :image, 'Image' %><span class="text-warning ml-1">(optional)</span>
        <%= f.file_field :image %>
      </div>
      
      <div class="form-group">
        <%= f.label :gender, 'Gender' %><span class="text-warning ml-1">(optional)</span>
        <%= f.select :gender, { Unselected: 0, Male: 1, Female: 2 }, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :birthday, 'Birthday' %><span class="text-warning ml-1">(optional)</span>
        <%= f.date_select :birthday, include_blank: true, start_year: 1940, end_year: Time.current.year, use_month_numbers: true, date_separator: '/', class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :hometown, 'Hometown' %><span class="text-warning ml-1">(optional)</span>
        <%= f.text_field :hometown, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :remarks, 'Remarks' %><span class="text-warning ml-1">(optional)</span>
        <%= f.text_area :remarks, class: 'form-control' %>
      </div>
      
      <% if request.path_info = signup_url %>
        <%= f.submit 'Sign up', class: 'btn btn-primary btn-block' %>
      <% else %>
        <%= f.submit 'Update', class: 'btn btn-primary btn-block' %>
      <% end %>
    <% end %>
  </div>
</div>