<div class="row">
  <aside class="col-sm-4">
    <%= render 'users/card', user: @user %>
    <%= render 'relationships/follow_button', user: @user %>
    <%= render 'users/edit_delete_button', user: @user %>
  </aside>
  <div class="col-sm-8">
    <%= render 'users/tabs', user: @user, count_microposts: @count_microposts, count_followings: @count_followings, count_followers: @count_followers, count_likes: @count_likes %>
    <dl class="pl-3 lead">
      <dt>Name</dt>
      <dd class="ml-5  pl-3 border"><%= @user.name %></dd>
      <dt>Gender</dt>
      <dd class="ml-5  pl-3 border"><%= @user.gender_distinction %></dd>
      <dt>Birthday</dt>
      <dd class="ml-5  pl-3 border"><%= @user.birthday %></dd>
      <dt>Hometown</dt>
      <dd class="ml-5  pl-3 border"><%= @user.hometown %></dd>
      <dt>Remarks</dt>
      <dd class="ml-5  pl-3 border"><%= @user.remarks %></dd>
    </div>
  </dl>
</div>