<div class="row">
  <aside class="col-sm-4">
    <%= render 'users/card' %>
  </aside>
  <div class="col-sm-8">
    <%= render 'users/tabs' %>
    <dl class="pl-3 lead">
      <dt>Name</dt>
      <dd class="ml-5  pl-3 border"><%= @user.name %></dd>
      <dt>Gender</dt>
      <dd class="ml-5  pl-3 border"><%= @user.gender_distinction %></dd>
      <dt>Birthday</dt>
      <dd class="ml-5  pl-3 border"><%= @user.birthday %></dd>
      <dt>Hometown</dt>
      <dd class="ml-5  pl-3 border"><%= @user.hometown %></dd>
      <dt>Remarks</dt>
      <dd class="ml-5  pl-3 border"><%= @user.remarks %></dd>
    </div>
  </dl>
</div>